:root {
  --mgreen: rgb(61, 151, 61);
  --mbrown: rgb(100, 58, 58);
  --mwood: rgb(82, 48, 48);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--mbrown);
}


.menutop {
  z-index: 2;
  position: fixed;
  height: auto;
  width: 100vw;
  background-color: var(--mgreen);
  box-shadow: 0 0.1vh 1vh black;
  text-align: center;
  
}
.invdiv {
  position: static;
  height: 2em;
  width: 100vw;
}

.menuleft {
  z-index: 1;
  position: fixed;
  height: 100%;
  width: 25vw;
  background-color: var(--mwood);
  box-shadow: 0 0.1vh 1vh black;
  text-align: center;
}

.menuright {
  z-index: 1;
  position: fixed;
  height: 100%;
  width: 25vw;
  right: 0;
  background-color: var(--mwood);
  box-shadow: 0 0.1vh 1vh black;
  text-align: center;
}


.peck {
  border: 2px solid rgb(71, 16, 16);
  text-align: center;
  margin: auto;
  width: 50%;
  margin-bottom: -2px;
  padding: 20px;

}

